#form{
    margin-top: 30px;
    width: 30%;
    margin: auto;
    text-align: center;
    border: 1px solid red;
}
#form input,
#form button,
#form select
{
   width: 100%;
   box-sizing: border-box;
   margin-top: 3%;
   height: 40px;
}
#imglogo{
    width: 100%;
justify-content: space-between;
align-items: left;
text-align: left;
margin-top: 20px;
}
#imglogo img{
    width: 10%;
    margin-left: 10px;
}
#p{
    text-align: left;
    border: 1px solid;
}
