main,section{
    margin: auto;
    border: 1px solid ;
    width: 550px;

}

@media (max-width: 500px){
    main,section{
        width: 98%;
    }
}

main{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px;

}
#cash_minus{
    color: red;
    font-size: medium;
}
#balance_div{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2,1fr);
}
#balance_div div:nth-child(2){
    background-color: rgb(99, 99, 192);
    color:white;
    padding: 5px;
    align-items: center;
    text-align: center;
}

#balance_div div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
}

#exp_str{
    /* height: 200px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    padding: 10px;


}
/* #circle{
    border: 2px solid blue;
} */
#last_recodes{
   
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 10px;
    padding: 10px;


}
.lists_con{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 8px;
}
.money_minus{
    color: red;
}
#add_cash{
    text-align: right;
    display: none;
}
#cash{
    height: 25px;
    width: 30%;
}
#add{
color:blue;
    border: none;
    font-size: 15px;
    height: 25px;

}
#add_cash_btn{
    text-align: right;
}
#add_cash_btn button{
    color:blue;
    border: none;
    font-size: 15px;
    height: 25px;
}